build/*
build/*/*
build/*/*/*
!build/generatefromfile.sh
!build/generatemesh.sh
!build/generatemesh_withplotting.sh
data/*
data/*/*

!data/datagenerator.sh
!data/datagenerator_withplotting.sh
!data/plot_triangulation.py
!data/10000x10000RandomPoints.py
!data/generateplannar.cpp

pruebas/*
pruebas/output/*.1.pg
!pruebas/generateMeshes.sh
!pruebas/generateTriangulations.sh
!pruebas/generateAll.sh
!pruebas/output/
!pruebas/output/*.json
!pruebas/randomPoints.py

sdsl-lite/build/CMakeCache.txt

.vscode
.vscode/*   